{% extends "base.html" %}

{% block header %}
{% include "components/header.html" %}

{% endblock header %}

{% block main %}

{% if object_list %}

    
    <div class="main-content " >
        
        <div class="page-content ">

            <div class="container-fluid  ">

                <!-- start page title -->
                <div class="row mb-1 " >
                    
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-center">
                            <div class="row">
                               

                                 <div class="col-12 d-flex align-items-center justify-content-center">
                                    <h1 class="mb-0 font-size-30 font-weight-bold"> قائمة المصانع</h1>
                                </div>

                                <!-- Tools nav -->
                                <div class="col-12 d-flex align-items-center justify-content-center  mt-3 ">
                                    <nav class="navbar navbar-expand-lg navbar-dark shadow-lg p-3 mb-1 bg-white  rounded" >
                                        <div class="container-fluid">
                                         
                                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                          </button>
                                          <div class="collapse navbar-collapse" id="navbarNav">
                                            <ul class="navbar-nav">
                                              <li class="nav-item">
                                                <a class="nav-link active btn btn-success" aria-current="page" href="#" data-toggle="modal"
                                                data-target="#sub_modal" ><i class="bx bxs-add-to-queue"></i> جديد </a>
                                              </li>
                                              <li class="nav-item ml-2">
                                                <a class="nav-link active btn btn-danger" href="#"><i class="bx bx-trash"></i> المهملات </a>
                                              </li>
                                              <li class="nav-item ml-2">
                                                <a class="nav-link active btn btn-info" href="#"> <i class='bx bx-filter-alt' ></i> الفلتر</a>
                                              </li>
                                              
                                            </ul>
                                          </div>
                                        </div>
                                      </nav>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    
                </div>
                <!-- end page title -->

                <!-- factory cards -->
                <div class="row ">
                   
                    {% for x in object_list  %}
                    
                    <div class="col-xl-4 col-sm-6 d-flex justify-content-center ">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="media d-flex justify-content-center">

                                    <div class="row d-flex justify-content-center  ">
                                        <div class="col-lg-12 d-flex justify-content-center  mb-3">
                                            <div class="avatar-md d-flex justify-content-center">

                                                <span>
                                                    <img src="/static/assets/images/vector/factory1.png" alt="" width="100px"> 

                                                </span>                                                    
                                                
                                            </div>
        
                                        </div>

                                        <div class="col-lg-12 d-flex justify-content-center  mt-3">
                                            <div class="media-body ">
                                                <div class="d-flex justify-content-center ">
                                                  <a href="{% url 'Factories:FactoryDetail' x.id %}">
                                                    <h5 class="text-truncate font-size-15">{{x.name}}</h5>
                                                  </a>  
                                                    
                                                </div>
                                               
                                                <div class="team d-flex justify-content-center">
                                                    <div>
                                                        {% if x.machine_type %}
                                                        <p class="text-muted "> نوع المكينة : <span class="badge badge-warning">{{x.machine_type}}</span>
                                                        </p>
                                                    {% else %}
                                                        <p class="text-muted "> نوع المكينة : لم تضاف بعد</span>
                                                        </p>
                                                    {% endif %}
  
                                                    </div>
                                                    
                                                    <div>
                                                        {% if x.machine_count %}
                                                    <p class="text-muted "> عدد المكينات : <span class="badge badge-primary">{{x.machine_count}}</span>
                                                    </p>
                                                    {% else %}
                                                    <p class="text-muted "> عدد المكينات  : لم تضاف بعد</span>
                                                    </p>
                                                    {% endif %}
                                                    
                                                    </div>

                                                </div>
                                                <div class="d-flex justify-content-center" >
                                                    <i class="bx bx-trash bx-sm " style="color:#f46a6a
                                                    ;"></i>
                                                </div>
                                                
                                            
                                            </div>
                                        </div>
                                       
                                    </div>
                                    
                                   
                                   
                                </div>
                            </div>

                            <div class="px-4 py-3 border-top d-flex justify-content-center">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-1">
                                        
                                        {% if x.active == True %}
                                         <span class="badge badge-success">يعمل</span>
                                        {% else %}
                                         <span class="badge badge-danger">متوقف</span>
                                        {% endif %}
                                            
                                       
                                    </li>
                                    <li class="list-inline-item m" data-toggle="tooltip" data-placement="top" title="" data-original-title="Due Date">
                                        <i class="bx bx-calendar "></i> {{x.created}}
                                    </li>
                                    <li class="list-inline-item " data-toggle="tooltip" data-placement="top" title="" data-original-title="Comments">
                                        
                                        {% if x.hour_price %}
                                        <i class='bx bxs-dollar-circle'></i> {{x.hour_price}}
                                            
                                        {% endif %}
                                            
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
                <!-- end factory cards -->

                <!-- pagination -->
                
                {% if is_paginated %}
                  {% include "components/paginator.html" %}
                {% endif %}
                    
              
                
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include "components/footer.html" %}
   
    </div>

    {% else %}

    <!-- not found page   -->
    <div class="main-content">

        <div class="page-content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="text-center mb-5 mt-5">
                            <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                            <h4 class="text-uppercase">للأسف لا توجد بيانات</h4>
                            <div class="mt-3 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href="index.html">اضافة بيانات</a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-center ">
                        
                        <img src="/static/assets/images/error-img.png" width="400px" height="188px" alt="" class="img-fluid" >
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   

{% endif %}
    
{% endblock main %}

{% block left-sidebar %}
  {% include "components/leftSidebar.html" %}
{% endblock left-sidebar %}

